altgraph==0.17.4
et_xmlfile==2.0.0
ifcopenshell==0.8.3.post2
isodate==0.7.2
Jinja2==3.1.6
lark==1.2.2
MarkupSafe==3.0.2
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pefile==2023.2.7
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
qt-material==2.17
setuptools==80.9.0
shapely==2.1.1
shiboken6==6.9.2
six==1.17.0
tk==0.1.0
typing_extensions==4.15.0
tzdata==2025.2
